.game_board {
  width: 100%;
  height: 80vh;
  border-bottom: 10px solid green;
  /* border: solid 1px red; */
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.grass {
  width: 100%;
  display: flex;
  flex-grow: 1;
  background: green;
  bottom: 0;
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe_animation 1.5s linear infinite;
}

.mario {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 0.5s infinite ease-out;
}

.clouds {
  position: absolute;
  width: 550px;
  /* background: url('/src/img/clouds.png') repeat-x; */
  animation: clouds_animation 20s linear infinite;
}

.menu_restart {
  display: none;
  visibility: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: 100px;
  width: 200px;

  background: #f1f1f1;
  padding: 10px;
  border: solid 1px #ff9900;
  border-radius: 5px;
}

.gameover_title {
  color: #200;
  font-size: 2rem;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 2px 2px #ff9900;
}

.restart_info {
  background: #ff9900;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

@keyframes pipe_animation {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }
  40% {
    bottom: 170px;
  }
  50% {
    bottom: 180px;
  }
  60% {
    bottom: 170px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes clouds_animation {
  from {
    right: -550px;
  }
  to {
    right: 100%;
  }
}
