/* ================================ */

/* #region game_board               */
.game_board {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  /* border: dotted 1px red; */
  
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.circleA,
.circleD,
.circleG {
  width: 300px;
  height: 300px;
  border: solid 1px black;
}

.circleB,
.circleE,
.circleH {
  width: 250px;
  height: 250px;
  border: dashed 1px black;
}

.circleC,
.circleF,
.circleI {
  width: 200px;
  height: 200px;
  border: dotted 1px black;
}

.circleA {
  transform: translate(50px, 0px);
}
.circleD {
  transform: translate(0px, -204px);
}
.circleG {
  transform: translate(100px, -506px);
}
/* #endregion */

/* ================================ */

/* #region cube                  */

.cube {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-top: -400px;
  /* border: solid 1px blue; */
}

.square {
  border-radius: 30%;
  width: 20px;
  height: 20px;
  /* color: white; */
  color: transparent;
  border: solid 1px transparent;
}

.face {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  width: 76px;
  height: 76px;
}

.face div:nth-child(1) {
  position: relative;
  top: 0px;
  left: 0px;
}

.face div:nth-child(2) {
  position: relative;
  top: -5px;
  left: 5px;
}

.face div:nth-child(3) {
  position: relative;
  top: -10px;
  left: 10px;
}

.face div:nth-child(4) {
  position: relative;
  top: 5px;
  left: -5px;
}

.face div:nth-child(5) {
  position: relative;
  top: -5px;
  left: -5px;
}

.face div:nth-child(6) {
  position: relative;
  top: -10px;
  left: 0px;
}

.face div:nth-child(7) {
  position: relative;
  top: 10px;
  left: -10px;
}

.face div:nth-child(8) {
  position: relative;
  top: 0px;
  left: -10px;
}

.face div:nth-child(9) {
  position: relative;
  top: -10px;
  left: -10px;
}


#face_1 {
  transform: rotate(-16deg) translate(10px, 120px);
}

#face_2 {
  transform: rotate(45deg) translate(135px, -95px);
}

#face_3 {
  transform: rotate(104deg) translate(-105px, -265px);
}

#face_4 {
  transform: rotate(165deg) translate(-225px, -40px);
}

#face_5 {
  transform: rotate(224deg) translate(-125px, 105px);
}

#face_6 {
  transform: rotate(285deg) translate(190px, 50px);
}

/* #endregion cube */

/* ================================ */

/* #region buttons                  */

.buttons {
  display: flex;
  gap: 4px;
  margin: 0 auto;
}

.button {
  padding: 3px 3px;
  background-color: fuchsia;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: purple;
}

.buttons_group1,
.buttons_group2,
.buttons_group3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}

.buttons_group1 {
  rotate: 180deg;
  transform: translate(-35px, 415px);
}

.buttons_group2 {
  rotate: -50deg;
  transform: translate(200px, 40px);
}

.buttons_group3 {
  rotate: 50deg;
  transform: translate(-220px, 70px);
}

.button_control {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* #endregion buttons */

/* ================================ */
