@import url("/src/css/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

.body_1 {
  background: linear-gradient(#87ceeb, #e0f6ff);
  min-height: 100vh;
}
.header_1 {
  padding: 2rem;
  text-align: center;
  /* position: fixed; */
}
.header_1 .principal_title {
  color: #200;
  font-size: 3rem;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 2px 2px #ff9900;
  transition: 0.5s;
}

.header_1 .principal_title:hover {
  color: #600;
  text-shadow: 5px 5px #ffaa11;
}
